body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-list-container {
  position: absolute;
  top: 35%;
}

#submit {
    width: 80px;
    height: 35px;
    border-radius: 45px;
    border: 1px solid rgba(197, 189, 189, 0.454);
    margin-left: 20px;
    cursor: pointer;
}

#submit:hover {
    box-shadow: 0px 1px 3px 1px rgba(179, 179, 179, 0.5);
}

#clock-display {
  font-size: 70px;
  font-family: Orbitron;
  text-align: center;

}

#task {
    width: 300px;
    height: 35px;
    border-radius: 45px;
    padding-left: 20px;
    border: 1px solid rgb(197, 189, 189)
}

#task:hover {
    box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.5);
}

#task:focus {
  outline: none;
}



#todo-functions {
    display:inline;
    
}
#trash-can {
  width: 15px;
  height: 15px;
  cursor: pointer;
  float: right;
  margin-left: 20px;
}

#trash-can:hover {
    box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.5);
}

#check-box {
  border-radius: 50%;
  width: 0px;
  height: 15px;
  cursor: pointer;
  margin: 0 25px 0 10px;
  border: 1px solid black;
}

#task-words {
  display: inline-block;
  width: 300px;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: clip;

}

#task-container {
  background: rgba(255, 255, 255, 0.409);
  width: 400px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

#user-task-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 2px 0; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
    
}

#todo-list {
  list-style-type: none;
  padding-left: 0;
}

#top-part {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#temperature {
  font-size: 20px;
  font-family: Orbitron;
  margin-bottom: 10px;
  text-align: center;
}